# Virtual Environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Dataset files (optional - if too large)
Sample - Superstore.csv
*.xlsx

# Model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db